body {
  background-color: #D7DBDF;
}

a {
    text-decoration: none;
    color: black;
  }

.contact-me{
  --bs-btn-color:orangered;
  --bs-btn-border-color:orangered;
  --bs-btn-hover-bg:orangered;
  --bs-btn-hover-border-color:orangered;
  --bs-btn-active-bg:orangered;
  --bs-btn-active-border-color:orangered;
}

@media only screen and (max-width: 991px) {
    .contact-me {
        display: flex;
        align-items: center;
        margin: auto;
}}
