.pertama:hover {
    color:var(--color);
    fill:var(--color);
}


@media only screen and (min-width: 767px) and (max-width: 991px) {
    .container-card-body {
        display: flex;
        flex-direction: column;
    }

    .photo-content {
        margin: auto;
    }

    .card-body {
        width: 100%;
    }
}
